.App {
  position: relative;
}

.App-actions {
  height: 50px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  background-color: rgb(255, 213, 220);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}